*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 1440px;
    height: 700px;
    position: relative;
    background-color: #FFC38B;
    
}

.header{
    background-color: gray;
    margin-left: 65px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 1170px;
    height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    font-weight: 500;  
    font-size: 18px;  
    margin-right: 65px;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu a:last-child{
    margin-right: 0;
}

.menu a:hover{
    background-color: black;
    color: white;
    height: 50%;
}

.feature{
    width: 1170px;
    margin-left: 65px;
}

.feature h2{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}

.feature .p1{
    font-size: 20px;
    font-weight: 400;
    color: gray;
    text-align: center;
}


.feature .blocks h3{
    font-size: 20px;
    font-weight: 700;
}

.feature .blocks .p2{
    font-size: 16px;
    font-weight: 400;
    color: gray;
}


.feature .blocks{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.feature .blocks .block1{
    width: calc((100% - 50px) / 2);
    margin-bottom: 35px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    margin-right: 25px;
}






