*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 1440px;
    position: relative;
    
}

.header{
    background-color: gray;
    margin-left: 65px;;
    margin-top: 40px;
    width: 1170px;
    height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a{
    font-weight: 500;  
    font-size: 18px;  
    margin-right: 65px;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu a:last-child{
    margin-right: 0;
}

.menu a:hover{
    background-color: black;
    color: white;
    height: 50%;
}

