*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 1440px;
    height: 700px;
    position: relative;
    
   
    
}

.header{
    margin-left: 65px;
    margin-top: 40px;
    width: 1170px;
    height: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu a{
    font-weight: 500;  
    font-size: 18px;  
    margin-right: 65px;
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu a:last-child{
    margin-right: 0;
}
.box .img{
    width: 50%;
    height: 50%;
    margin-left: 30px;
}

.menu a:hover{
    background-color: black;
    color: white;
    height: 50%;
}

.feature{
    width: 1170px;
    margin-left: 65px;
    padding-top: 120px;
}

.feature h2{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
}

.feature .p1{
    font-size: 20px;
    font-weight: 400;
    color: gray;
    text-align: center;
}


.feature .blocks h3{
    font-size: 20px;
    font-weight: 700;
}

.feature .blocks .p2{
    font-size: 16px;
    font-weight: 400;
    color: gray;
}


.feature .blocks{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.feature .blocks .block1{
    width: calc((100% - 50px) / 2);
    margin-bottom: 35px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box{
    margin-right: 25px;
}

.restangleheading{
    margin-top: 200px;
    margin-left: 63px;
    width: 448px;
    height: 419px;
    display: flex;
    justify-content: space-between;
}

.heading{
    margin-top: 200px;
    margin-left: 63px;
    width: 720px;
    height: 419px;
    
}

.h1heading{
    font-weight: 700;
    font-size: 52px;
}
.downheading{
    font-weight: 400;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
}

.button{
    color: white;
    background-color: #FF926B;
    width: 170px;
    height: 44px;
    
}

.button a{
    text-decoration: none;
    color: white;
    background-color: #FF926B;
    font-size: 18px;
    padding-left: 45px;

}

.restangle{
    margin-left: 150px;
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.flex{
    display: flex;
}

/* .work{
    margin-top: 600px;
    margin-left: 70px;
}

.work h2{
    font-weight: 700;
    font-size: 38px;
    text-align: center;
}

.work p{
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.works{
    margin-left: 90px;
    display: flex;
    justify-content: space-between;
}

.works .work1 .work1img{
    background-image: url(/image/work1.png);
    
}

.works .work1 .work1h3{
    font-size: 28px;
    font-weight: 700;
} */

.about{
    display: flex;
    justify-content: space-between;
    margin-top: 500px;
    margin-left: 100px;
}

.about1{
    padding-right: 150px;
}






